body {
  color: red;
  /*it opens the ccs and puts the color red.*/
  text-align: center;
  /*it puts thr text in the middle.*/
}

h1 {
 color: red;
}


body {
  background: url(../images/pop.jpg); 
  /*/its opens the css and puts the background image.

}
</style>
</head>

 /it closes the css*/
